.task-item {
  &__sign {
    font-size: 20px;
    font-weight: bold;
  }  

  &__result {
    width: 70px !important;
  }

  .ant-input {
    width: 50px;   
  }

  .ant-input[disabled] {
    color: rgba(0, 0, 0, 0.8);
  }
}
